galactic_binaries/src/gitversion.c
FisherGalaxy/.DS_Store
FisherGalaxy/Bright_Remove
FisherGalaxy/Bright_Remove.dSYM/Contents/Info.plist
FisherGalaxy/Bright_Remove.dSYM/Contents/Resources/DWARF/Bright_Remove
FisherGalaxy/Confusion_Fit
FisherGalaxy/Confusion_Fit.dSYM/Contents/Info.plist
FisherGalaxy/Confusion_Fit.dSYM/Contents/Resources/DWARF/Confusion_Fit
FisherGalaxy/Fisher_Galaxy
FisherGalaxy/Fisher_Galaxy.dSYM/Contents/Info.plist
FisherGalaxy/Fisher_Galaxy.dSYM/Contents/Resources/DWARF/Fisher_Galaxy
FisherGalaxy/Full_Residual
FisherGalaxy/Full_Residual.dSYM/Contents/Info.plist
FisherGalaxy/Full_Residual.dSYM/Contents/Resources/DWARF/Full_Residual
FisherGalaxy/Full_Residual_save.c
FisherGalaxy/Galaxy
FisherGalaxy/Galaxy.dSYM/Contents/Info.plist
FisherGalaxy/Galaxy.dSYM/Contents/Resources/DWARF/Galaxy
FisherGalaxy/OrbitFile
FisherGalaxy/OrbitFile.dSYM/Contents/Info.plist
FisherGalaxy/OrbitFile.dSYM/Contents/Resources/DWARF/OrbitFile
FisherGalaxy/README
FisherGalaxy/Setup
FisherGalaxy/Setup.dSYM/Contents/Info.plist
FisherGalaxy/Setup.dSYM/Contents/Resources/DWARF/Setup
FisherGalaxy/Subroutines.o
FisherGalaxy/arrays.o
.DS_Store
galactic_binaries/etc/.DS_Store
galactic_binaries/etc/reconstruction.gpi
galactic_binaries/etc/sources/.DS_Store
galactic_binaries/etc/sources/galaxy/
galactic_binaries/etc/sources/verification/ZTF1539.dat
galactic_binaries/etc/sources/verification/ZTF1539_tides.dat
galactic_binaries/src/.DS_Store
galactic_binaries/src/.gb_mcmc_chirpmass.c.swp
galactic_binaries/src/GalacticBinaryCatalog
galactic_binaries/src/GalacticBinaryData.o
galactic_binaries/src/GalacticBinaryFStatistic.o
galactic_binaries/src/GalacticBinaryIO.o
galactic_binaries/src/GalacticBinaryMath.o
galactic_binaries/src/GalacticBinaryModel.o
galactic_binaries/src/GalacticBinaryPrior.o
galactic_binaries/src/GalacticBinaryProposal.o
galactic_binaries/src/GalacticBinaryWaveform.o
galactic_binaries/src/LISA.o
galactic_binaries/src/gb_catalog
galactic_binaries/src/gb_catalog.dSYM/
galactic_binaries/src/gb_match
galactic_binaries/src/gb_match.dSYM/
galactic_binaries/src/gb_mcmc
galactic_binaries/src/gb_mcmc.dSYM/
galactic_binaries/src/gb_mcmc_brans_dicke
galactic_binaries/src/gb_mcmc_chirpmass
galactic_binaries/src/gb_mcmc_scalar
galactic_binaries/src/gb_mcmc_scalar.c
galactic_binaries/src/gb_mcmc_scalar_fddot
galactic_binaries/src/gb_mcmc_scalar_fddot.c
galactic_binaries/src/gb_mcmc_scalar_fddot.dSYM/
galactic_binaries/src/gb_residual
galactic_binaries/src/gb_residual.dSYM/
galactic_binaries/src/gitversion.h
ldasoft.xcworkspace/
master/
tdir/src/dft.dat
tdir/src/dft10.dat
tdir/src/dft100.dat
tdir/src/dft1000.dat
tdir/src/dft20.dat
tdir/src/dft30.dat
tdir/src/dft300.dat
tdir/src/dft40.dat
tdir/src/dft8192.dat
tdir/src/error.dat
tdir/src/fdi
tdir/src/plot.gpi
tdir/src/plot.png
tdir/src/run.sh
tdir/src/sinc.dat
tdir/src/sinc_0.dat
tdir/src/sinc_D.dat
gbmcmc/src/gitversion.h
