.DS_Store

gbmcmc/src/gitversion.h
GBMCMC.png

#binaries
gbfisher/src/Bright_Remove
gbfisher/src/Confusion_Fit
gbfisher/src/Fisher_Galaxy
gbfisher/src/Full_Residual
gbfisher/src/Galaxy
gbfisher/src/OrbitFile
gbfisher/src/Setup

gbmcmc/src/gb_catalog
gbmcmc/src/gb_match
gbmcmc/src/gb_mcmc
gbmcmc/src/gb_mcmc_brans_dicke
gbmcmc/src/gb_mcmc_chirpmass
gbmcmc/src/gb_residual
gbmcmc/src/libgbmcmc.a

#tdir scraps
tdir/src/dft.dat
tdir/src/dft10.dat
tdir/src/dft100.dat
tdir/src/dft1000.dat
tdir/src/dft20.dat
tdir/src/dft30.dat
tdir/src/dft300.dat
tdir/src/dft40.dat
tdir/src/dft8192.dat
tdir/src/error.dat
tdir/src/fdi
tdir/src/plot.gpi
tdir/src/plot.png
tdir/src/run.sh
tdir/src/sinc.dat
tdir/src/sinc_0.dat
tdir/src/sinc_D.dat

tdir/src/*.dat
tdir/src/*.gpi
tdir/src/*.png
tdi/src/run.sh

#documentation building
docs/html
docs/latex


#Xcode metadata
ldasoft.xcworkspace/
ldasoft.xcodeproj
ldasoft.build

#Vim junk
*.swp

#install directories
build
master
fstat
bayesline

#build scraps

*/src/*.dSYM
*/src/*.o

cmake_install.cmake
*/cmake_install.cmake
*/src/cmake_install.cmake

*/src/Debug
*/src/*.build

CMakeFiles
*/CMakeFiles
*/src/CMakeFiles

Makefile
*/Makefile
*/src/Makefile

CMakeCache.txt
CMakeScripts/
CMakeTutorial.build/

